- title("Compose Sms")
- stylesheet('jquery.timepickr')
- javascript('messages', 'jquery.timepickr')

.span-23.prepend-1.mat.padding-top-10.bottom
  %h2== Compose Sms
  %h4= link_to 'Cancel', messages_path, :class => 'admin color'
  
%hr.space

.span-14.prepend-1
  = display_flash(:all)

%hr.space

= render(:partial => 'compose_form', :locals => {:collection => @phone_collection, :protocol => @protocol, :recipient_type => @recipient_type, :subject => :optional})
