- title(@title)
- robots('index', 'follow')

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h1.title= @h1
  %h4.padding-top-5.smaller== Find menus by city

%hr.space

%h3.span-23.prepend-1
  - unless @cities.blank?
    -# show menu cities
    - @cities.each_with_index do |city, i|
      - klasses = i.odd? ? ["locality", "odd",] : ["locality", "even"]
      %span.large[city]{:style => 'white-space: nowrap; margin-right: 3px; font-weight: bold;'}= link_to(city, menu_city_path(:city => city, :state => city.state, :country => @country), :class => klasses.join(" "))
