:plain
  <script type="text/javascript"><!--
  google_ad_client = "pub-4886325659930055";
  /* chain city show left side wide skyscraper 160x600 */
  google_ad_slot = "6875673367";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  