%p== This is a reminder that your appointment is coming up.

%table{:style => "border-spacing: 15px 0px;"}
  %tr
    %td== Service:
    %td= @service  

  %tr
    %td== With:
    %td= @provider

  %tr
    %td== When:
    %td= @when

- unless @footers.blank?
  - @footers.each do |footer|
    %p= footer