- url_options = Hash[:action => 'index', :city => city]
- url_options.update(:tag => tag.to_url_param) unless tag.blank?
- url_options.update(:query => query.to_url_param) unless query.blank?

%h4.neighborhood.related.bottom== #{city.name} Neighborhoods
%ul
  - neighborhoods.each do |hood|
    %li= link_to(hood.name, url_for(url_options.update(:neighborhood => hood)), :class => 'neighborhood related')