%h4.zip.related.bottom== #{city.name} Zip Codes

-# split zips into 2 lists of equal size
- index1  = zips.length.even? ? zips.length/2 : zips.length/2 + 1
- zips1   = zips.slice(0,index1)
- zips2   = zips.slice(index1, index1)

-# build basic url options
- url_options = Hash[:action => 'index']
- url_options.update(:tag => tag.parameterize) unless tag.blank?
- url_options.update(:what => what.parameterize) unless what.blank?

.span-4
  .span-2
    %ul
      - zips1.each do |zip|
        %li.zip= link_to(zip.name, url_for(url_options.update(:zip => zip)), :class => 'related zip')

  .span-2.last
    %ul
      - zips2.each do |zip|
        %li.zip= link_to(zip.name, url_for(url_options.update(:zip => zip)), :class => 'related zip')
