%li
  %h4.name= location.company_name
  %h4.address= [location.street_address, city_state_zip(location.city, location.state, location.zip)].reject(&:blank?).join("<br/>")
  - unless location.phone_numbers_count == 0
    = link_to number_to_phone(location.primary_phone_number.address, :delimiter => "."), "tel:#{location.primary_phone_number.address}", :rel => 'external'
  