- url_options = Hash[:action => 'index', :neighborhood => nil, :zip => nil]
- url_options.update(:tag => tag.parameterize) unless tag.blank?
- url_options.update(:what => what.parameterize) unless what.blank?

%h4.city.nearby.bottom== Nearby Cities
%ul
  - nearby_cities.each do |city|
    %li= link_to(city.name, url_for(url_options.update(:city => city)), :class => 'city nearby')