%h4.tags.related.bottom= title

- tags.each do |tag|
  - klasses = ["tag related"]
  %span{:style => "white-space: nowrap; padding-right: 3px;"}= link_to(tag, url_for(:tag => tag.to_url_param, :lat => nil, :lng => nil), :class => klasses.join(" "))


%hr.space