-# build basic url options
- url_options = Hash[:action => 'index', :neighborhood => nil, :zip => nil]
- url_options.update(:tag => tag.to_url_param) unless tag.blank?
- url_options.update(:query => query.to_url_param) unless query.blank?

%h4.city.related.bottom== Nearby Cities
%ul
  - cities.each do |city|
    %li= link_to(city.name, url_for(url_options.update(:city => city)), :class => 'city related')