.city_zips= title

- zips.each do |zip|
  - klasses = ["locality"].push(cycle('even', 'odd'))
  %span.small[zip]= link_to(zip, build_zip_route(params[:controller], country, state, zip), :class => klasses.join(" "))
