- title(@title)
- robots('index', 'follow')

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2= @h1
  %h4#breadcrumbs
    = link_to 'Home', root_path
    
%hr.space

%h3.span-23.prepend-1
  - @states.each_with_index do |state, i|
    - klasses = i.odd? ? ["locality", "odd",] : ["locality", "even"]
    %span.small[state]{:style => "white-space: nowrap; margin-right: 3px; font-weight: bold;"}= link_to(state, url_for(:action => 'state', :country => @country, :state => state), :class => klasses.join(" "))

