.current
  .toolbar
    = link_to "Home", '#home', :class => "button"
    %h1== Search Error
    
  %h2== We're sorry but we couldn't find what you were looking for.
  %h2== Please check your search criteria and try again.