/* link styles */

a:hover                                           { color: #FFFFFF; background-color: #0033CC; text-decoration: none; }

a.current, a.current:hover                        { text-decoration: none; }

a img                                             { border: 0 none; vertical-align: top; }

a img:hover                                       { background-color: green; }

/* error styles */

.field_error                                      { background-color: #FF8800; padding: 5px; }

/* padding, border styles */

.padding-5                                        { padding: 5px; }
.padding-top-10                                   { padding-top: 10px; }
.padding-bottom-5                                 { padding-bottom: 5px; }
.padding-bottom-10                                { padding-bottom: 10px; }
.padding-bottom-20                                { padding-bottom: 20px; }

.margin-bottom-5                                  { margin-bottom: 5px; }

.letterbox                                        { padding-top: 10px; padding-bottom: 10px; }

.text-align-right                                 { text-align: right; }
.text-align-left                                  { text-align: left; }

/* header, tab, link styles */

div#header                                        { margin: 0; min-width: 900px; min-height: 50px; overflow: hidden; padding: 15px 0px 0px 0px; 
                                                    position: relative; text-align: left; }

div#tabs                                          { clear: left; height: 24px; margin: 15px 0 0; padding: 0; font-size: 12px; }

div#tabs ul                                       { margin: 0; padding: 0; }

div#tabs li                                       { border: medium none; display: inline; list-style-image: none; list-style-position: outside; 
                                                    list-style-type: none; margin: 0; padding: 0; color: #FFFFFF; }

div#tabs li.with_space                            { margin-right: 2px; }

div#tabs li.right                                 { float: right; }

div#tabs a                                        { text-decoration: none; }

div#tabs a:visited, div#tabs a:link               { color: #FFFFFF; background-color: #CD9100; border-bottom-color: #CD9100; border-style: solid; 
                                                    border-width: 1px; color: #000000; padding: 3px 8px 8px; }

div#tabs a.current                                { color: #000000; border-bottom-color: #E5E5E5; }

div#tabs a.current:link, div#tabs li a.current:link, div#tabs a.current:visited, div#tabs li a.current:visited                       
                                                  { background: #E5E5E5 url(/images/tab-background.gif) repeat-x scroll center top;
                                                    border-bottom: 1px solid #E5E5E5; font-weight: bold; margin: 0;
                                                    text-decoration: none; padding: 3px 8px 8px; }

#location_switcher, #location_switcher ul         { list-style: none; }
#location_switcher, #location_switcher *          { padding: 0; margin: 0; }
#location_switcher li ul                          { display: none; }
#location_switcher li:hover ul                    { display: block; }


/* body styles */

div.container div.box                             { background: #EDF3FE; padding: 13px 0px 13px 40px; }

div.block                                         { background: #E1E0E0 none repeat scroll 0 0; border-bottom: 1px solid #DFDFDF;
                                                    color: #666666; font-size: 11px; font-weight: bold; padding: 5px 10px 5px 10px; }

div.mat                                           { background: #EDF3FE none repeat scroll 0 0; }
div.mat.shaded                                    { background: #E5ECF9 none repeat scroll 0 0; }

/* form styles */

input.title.big                                   { color: #000000; font-size: 20px; font-weight: bold; }
input.title.hint                                  { color: #BBBBBB; }

label.big                                         { font-size: 16px; }

.button                                           { font-size: 12px;}
.button.big                                       { font-size: 15px; }

.select                                           { font-size: 12px; }
.select.big                                       { font-size: 15px; }

/* admin styles */

a.admin:link, a.admin:visited                     { font-size: 11px; font-weight: normal; color: #0000FF; }
a.admin:hover                                     { color: #FFFFFF; background-color: #0000FF; text-decoration: none; }

a.header.link:link, a.header.link:visited         { color: #FFFFFF; }
a.header.link:hover                               { background-color: #008800; text-decoration: none; }

/* signup styles */

a.signup:link, a.signup:visited                   { font-size: 11px; font-weight: normal; color: #000000; }
a.signup:hover                                    { color: #000000; background-color: #FFFFFF; text-decoration: none; }

/* tag link styles */

a.tag.even, a.locality.even, a.chain.even         { color: #5500BB; font-size: 1.3em; }
a.tag.even:hover, a.locality.even:hover, a.chain.even:hover           
                                                  { color: #FFFFFF; background-color: #5500BB; }

a.tag.odd, a.locality.odd, a.chain.odd            { color: #663333; font-size: 1.2em; }
a.tag.odd:hover, a.locality.odd:hover, a.chain.odd:hover            
                                                  { color: #FFFFFF; background-color: #663333; }

a.tag.odd.one, a.tag.even.one, a.chain.even.one, a.chain.odd.one
                                                  { font-size: 1.3em; }
a.tag.odd.two, a.tag.even.two, a.chain.even.two, a.chain.odd.two
                                                  { font-size: 1.7em; }
a.tag.odd.three, a.tag.even.three, a.chain.even.three, a.chain.odd.three
                                                  { font-size: 2.0em; }

/* place link styles */

a.place.name                                      { color: #5500BB; font-size: 1.1em; font-weight: bold; }
a.place.name:hover                                { color: #FFFFFF; background-color: #5500BB; }

.place.indicator                                  { text-align: center; width: 40px; height: 13px; border: 1px solid #DDDDDD; padding-bottom: 0; 
                                                    background: #5500BB none repeat scroll 0 0; display: block; }

/* event link styles */

a.event.sort                                      { color: #5500BB; font-size: 1.1em; font-weight: bold; } 
a.event.sort:hover                                { color: #FFFFFF; background-color: #5500BB; }

a.event.category.even                             { color: #5500BB; font-size: 1.3em; }
a.event.category.even:hover                       { color: #FFFFFF; background-color: #5500BB; }

a.event.category.odd                              { color: #663333; font-size: 1.2em; }
a.event.category.odd:hover                        { color: #FFFFFF; background-color: #663333; }

/* calendar styles */

.calendar.date                                    { text-align: center; width: 40px; border: 1px solid #DDDDDD; padding-bottom: 0; }
.calendar.date.week_day                           { background: #FF6600 none repeat scroll 0 0; color: #FFFFFF; display: block; font-size: 0.8em; 
                                                    letter-spacing: 1px; margin: 0; padding: 0; text-transform: uppercase; }
.calendar.date.month_day                          { background: #FFFFFF none repeat scroll 0 0; color: #111111; display: block; font-size: 1.5em; 
                                                    font-weight: bold; line-height: 1.25em; }

/* sidebar styles */

div.sidebar                                       { background: #EDF3FE none repeat scroll 0 0; border: 1px solid #C9D8EF; }

/* instruction styles */

div.instructions, div.instructions.sidebar        { background: #FFFFCC; padding: 5px; font-size: 12px; border: 1px solid #FFD324; }

div.instructions ul                               { font-size: 12px; }

/* pagination styles */

.pagination a                                     { background: #EEEEEE; color: #111111; }
.pagination a:hover                               { background: #3300BB; color: #0099FF; }

.pagination span, .pagination a                   { display: block; width: 12px; text-align: center; margin-right: 0px; padding: 0.2em 0.2em; 
                                                    float: left; text-decoration: none; }

.pagination span.current                          { background: #0099FF; color: #111111; }

.pagination a.prev_page, .pagination a.next_page, .pagination span.prev_page, .pagination span.next_page  
                                                  { width: 65px; }

.pagination span.disabled                         { display: none; }

/* highlight styles */

.shaded                                           { background: #EDF3FE; none repeat scroll 0 0; }

.highlighted, .highlighted.shaded, .highlight     { background: #FFCC00; none repeat scroll 0 0; }
.highlight.muted                                  { background: #FFFF99; none repeat scroll 0 0; }
.highlight.muted.more                             { background: #FFF4C2; none repeat scroll 0 0; }

.blue.muted                                       { background: #EDF3FE; none repeat scroll 0 0; }
  
/* color styles */

.red                                              { color: #FF0000; }
.green                                            { color: #FF6600; }
.grey                                             { color: #666666; }

/* example styles */

span.example                                      { color: #666666; font-style: italic; font-size: 11px; padding-left: 5px; }

/* breadcrumb styles */

#breadcrumbs                                      { font-size: 11px; }
#breadcrumbs a                                    { color: #000000; text-decoration: none; }
#breadcrumbs a:hover                              { color: #FFFFFF; background-color: #5500BB; }
#breadcrumbs span                                 { color: #555555; }


/* locality styles */

.popular.tags, .popular.categories, .popular.events                
                                                  { color: #111111; font-weight: bold; font-size: 1.3em; padding-bottom: 10px; }
.popular.cities, .popular.neighborhoods           { color: #666666; font-size: 1.5em; padding-bottom: 5px; }

.city_zips, .city_neighborhoods                   { color: #111111; font-weight: bold; font-size: 0.8.em; padding-bottom: 10px; } 
.zip_cities                                       { color: #111111; font-weight: bold; font-size: 0.8.em; padding-bottom: 10px; } 

.state_cities                                     { color: #111111; font-weight: bold; padding-bottom: 10px; }
.state_zips                                       { color: #111111; font-weight: bold; padding-bottom: 10px; }

.neighborhood.related, .zip.related, .city.related, .city.nearby
                                                  { color: #111111;  font-weight: bold; }

span.neighborhood                                 { margin-right: 2px; }

a.locality.search                                 { color: #5500BB; font-size: 1.1em; }
a.locality.search:hover                           { color: #FFFFFF; background-color: #5500BB; }


/* recommendations */

a.recommend                                       { color: #008800; font-weight: bold; font-size: 1.3em; }
a.recommend:hover                                 { color: #FFFFFF; background-color: #008800; }

.recommendations                                  { font-weight: bold; }
.recommendations.bold                             { color: #008800; font-weight: bold; }

.mappable.selected                                { border: 1px solid black;}
.mappable.unselected                              { border: 1px solid white;}
.mappable .icon-div                               { }
.mappable .icon                                   { top: 50%; margin-top: 5px; margin: 2px;}
