%div{:style => 'font-style: italic; font-size: 1.0em; color: #FFFFFF;'}
  = image_tag('eventful.gif', :alt => 'Local Events, Concerts, Tickets')
  %br
  = link_to 'Events', 'http://eventful.com', :class => 'footer link', :style => 'font-size: 1.0em; font-style: italic;'
  == by Eventful
  