%div{:style => 'font-style: italic; font-size: 1.0em; color: #FFFFFF;'}
  = link_to "Neighborhood data, 2008-2009 Urban Mapping Inc.", "http://urbanmapping.com", :class => 'footer link', :style => 'font-size: 1.0em; font-style: italic;'
  -#= link_to image_tag('urbanmapping.png', :alt => 'Neighborhood data, © 2008-2009 Urban Mapping Inc.'), "http://urbanmapping.com", :class => 'footer link', :style => 'font-size: 1.0em; font-style: italic;'
  