- title('Contact Us')

.span-23.prepend-1.padding-top-10

  %h3{:style => 'color: #666666;'}== Contact Us
  %h4{:style => 'line-height: 1.5em; font-size: 1.4em;'}
    == If you have any feedback on our site, questions about or issues with content or anything else you'd like to tell us, please send us an email at
    = link_to "support@walnutindustries.com", "mailto:support@walnutindustries.com"

