- form_for(object, :url => url) do |f|
  = text_field_tag 'q', '', :style => 'width: 250px; margin-right: 7px; margin-top: 0;', :class => 'event search title hint', :title => "e.g. midnight oil; art show"
  = f.submit 'Search', :name => nil, :class => 'button'
