- chains.each do |chain|
  .span-17.prepend-1.letterbox{:class => cycle("shaded", "")}[chain]
    %h3.name.margin-bottom-0
      = link_to chain.name, url_for(:action => 'country', :country => @country, :name => chain.id)
    %h6#count
      == #{chain.count} places
