- title(@title)

.span-23.prepend-1.mat.padding-top-10.padding-bottom-20
  %h1= @h1
  %h4#breadcrumbs
    = link_to 'Home', root_path

%hr.space

.span-24#chains
  %h3.prepend-1.span-23
    - unless @chains.blank?
      = render(:partial => 'chains', :locals => {:chains => @chains})