- title(@title)

.span-23.box
  %h1= @title
  %h4== #{pluralize(@count, 'location')}
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'chains', :country => @country, :state => @state, :object => @chain})
  
%hr.space

%h4.prepend-1.span-23#cities
  - @cities.each_with_index do |city, i|
    - klasses = i.odd? ? ["locality", "odd",] : ["locality", "even"]
    %span.small[city]{:style => "white-space: nowrap; margin-right: 3px; font-weight: bold;"}= link_to city.name, {:action => 'city', :city => city, :state => @state, :country => @country}, :class => klasses.join(" ")