- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2== Browse Venues by City
  %h4#breadcrumbs
    = link_to 'Home', root_path
    
%hr.space

%h3.span-23.prepend-1
  - @cities.each do |city, count|
    - klasses = ["locality"].push(cycle("even", "odd"))
    %span.small[city]{:style => "white-space: nowrap; margin-right: 3px; font-weight: bold;"}
      = link_to("#{city} (#{count})", city_venues_path(:country => @country, :state => city.state, :city => city), :class => klasses.join(" "))
