- if location.phone_numbers_count > 0
  - location.phone_numbers.slice(0,max_phones).each do |phone_number|
    %div[phone_number]{:style => 'padding-bottom: 5px;'}= number_to_phone(phone_number.address, :area_code => true)
