- what = nil unless local_assigns.has_key?(what)
- tags = [] unless local_assigns.has_key?(tags)

- locations.each do |location|
  .prepend-1.letterbox{:class => cycle("shaded", "")}[location]
    %h3.name.margin-bottom-5
      = link_to location.locatable.name, {:controller => 'places', :action => 'show', :id => location}
    %span.address
      = [location.street_address, city_state_zip(location.city, location.state, location.zip)].reject(&:blank?).join("<br/>")
    %br
    %span.tags
      - location_tags = location.locatable.tags.sort_by(&:name)
      - if location_tags.empty?
        -# empty tag to take up space
        == &nbsp;
      - else
        - location_tags.each do |place_tag|
          - klasses = Array(what).any? {|tag| place_tag.name.match(/#{tag}/)} ? ["current", "highlight"] : []
          %span.tag{:style => 'font-size: 12px;'}= link_to place_tag, {:controller => 'places', :action => 'index', :what => place_tag.name.parameterize}, :class => klasses.join(" "), :style => "padding: 0 2px;"