- locations.each do |location|
  .span-17.prepend-1.letterbox{:class => cycle("shaded", "")}[location]
    %h3.name.margin-bottom-0
      = link_to location.locatable.name, {:controller => 'places', :action => 'show', :id => location}
    %span.street= location.street_address
    %br
    %span.tags.locality= location.locality_tag_list
    %br
    %span.tags.place
      - location.place_tag_list.each do |place_tag|
        %span.tag{:style => 'font-size: 12px;'}= link_to place_tag, {:tag => place_tag}