- addresses.each do |address|
  .span-17.prepend-1.letterbox{:class => cycle("shaded", "")}[address]
    %h3.name.margin-bottom-0= address.places.first.name
    %span.tags.area= address.area_tag_list
    %br
    %span.tags.place= address.place_tag_list