%p== Popular Tags
- tags.each_with_index do |tag, i|
  - klasses = i.odd? ? ["tag", "odd",] : ["tag", "even"]
  %span[tag]{:style => "line-height: 1.7em; padding-right: 3px; white-space: nowrap;"}= link_to(tag, build_search_route(locality_type, locality_params.merge(:what => tag.name.to_url_param)), :class => klasses.join(" "))
