- title('Find a Place')

.span-20.box
  %h3== Search results for '#{@query}' matched #{@addresses.size} places
  
%hr.space

.span-20
  =render(:partial => 'places', :locals => {:addresses => @addresses})