- title(@title)

.span-20.box
  %h2== Search results for '#{@query}'
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :zip => @zip, :neighborhood => @neighborhood, :link_all => true})
  
%hr.space

.span-19.prepend-1#query
  .span-15
    %h4= page_entries_info @addresses unless @addresses.blank?
  .span-5.last
    = will_paginate(@addresses, :page_links => false)
  
.span-20
  =render(:partial => 'places', :locals => {:addresses => @addresses})