- title(@title)

.span-20.box.prepend-1.last
  %h2== #{@state.name} State Page
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :zip => nil})
  
%h3.span-20.prepend-1
  %p== #{@state.name} Cities
  - @cities.each do |city|
    %span[city]= link_to city, url_for(:controller => 'places', :action => 'city', :country => @country, :state => @state, :city => city)

%h3.span-20.prepend-1
  %p== #{@state.name} Zip Codes
  - @zips.each do |zip|
    %span[zip]= link_to zip, url_for(:controller => 'places', :action => 'zip', :country => @country, :state => @state, :zip => zip)
